@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Montserrat:wght@100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,700;1,800&family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
    width: 100%;
}
:root{
    --green:#54B192;
    --gray:#3F3D56;
    --green-l:#3F3d56;
    --smooth:all .3s ease;
}

button{
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: .8rem 2.5rem;
    background: var(--gray);
    border-radius: 100px;
    transition: var(--smooth);
    border: none;
}
button:hover{
    background: var(--green);
}
.container{
    width: 100%;
    max-width: 100%;
    padding: 2rem 9%;
}   
/* header */
header{
    position: absolute;
    width: 100%;
}
.navbar{
    display: flex;
    padding:20px 0;
    justify-content: space-between;
}
.navbar__logo{
    height: 57px;
    width: 57px;
    object-fit: cover;
}
/* menu */
.navbar__links{
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    background: var(--gray);
    height: 100vh;
    z-index: 5;
    transition: var(--smooth);
    transform: translateX(-100%);
    opacity: 0;
}
.navbar__link{
    list-style: none;
    margin: 55px;
}
.navbar__links.navbar__open{
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
}
.navbar__link a{
    color: #fff;
    font-weight: 300;
    transition: var(--smooth);
}
.navbar__link a:hover{
    color:var(--green);
}
.navbar__btn{
    margin-left: 45px;
    background: var(--green);
    font-size: 1rem;
}
/* Menu Button */
.navbar__icons{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
}
.navbar__icon{
    width: 45px;
    height: 6px;
    background: var(--gray);
}
.navbar__icon::after,
.navbar__icon::before{
    content: "";
    position: absolute;
    width: 45px;
    height: 6px;
    background: var(--gray);
    transition: var(--smooth);
}
.navbar__icon::before{
    transform: translateY(12px);
}
.navbar__icon::after{
    transform: translateY(-12px);
}
/* Button animation */
.open .navbar__icon{
    transform: translateX(-50px);
    background: transparent;
}
.open .navbar__icon::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.open .navbar__icon::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
@media (min-width:62em) {
    .navbar__links{
        position: initial;
        transform: translateX(0);
        opacity: 1;
        background: transparent;
        display: flex;
        justify-content: flex-end;
        text-align: center;
    }
    .navbar__link a{
        color: var(--gray);
    }
    .navbar__icons{
        display: none;
    }
    .navbar__btn{
        margin-top: 2.5rem;
        background: var(--gray);
    }
}

/* banner */
#banner{
    position: relative;
    height: 100vh;
    display: flex;
    text-align: center;
}
.banner__img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.banner__heading{
    max-width: 300px ;
    margin: 0 auto;
    text-align: center;
    color: var(--gray);
    padding-top: 35em;
}
.banner__heading h2{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.banner__heading p{
    padding-bottom: 1rem;
}
.banner__heading .banner__btn{
    font-size: 1.2rem;
}
.banner__social a{
    font-size: 2rem;
    color: var(--gray);
}
@media (min-width:62em) {
    .banner__heading{
        text-align: initial;
        margin: 0;
        padding-top: 15em;
    }
    .banner__social{
        justify-content: flex-start;
        margin-top: 1rem;
    }
    .banner__social a{
        margin-right: 1rem;
    }
    
}

/* things */
#things{
    padding-top: 30em;
    position: relative ;
    overflow: hidden    ;
}
.things__dec{
    position: absolute;
    top: 15%;
    left: 0;
    transform: translateX(-60%);
    z-index: -1;
}
.things__dec:nth-child(2){
    position: absolute;
    top: initial;
    left: initial;
    bottom: 0%;
    right: -45%;
}
#things h2{
    font-size: 2rem;
    text-align: center;
    color: var(--gray);
    margin-bottom: 3rem;
}
.things__item img{
    padding-bottom: 4em;
}
.things__item__heading{
    text-align: center;
}
.things__item__heading p{
    font-weight: 300;
    line-height: 2em;
    max-width: 300px;
    padding-top: 1em;
    margin: 0px auto;
}

@media (min-width:62em){
    #things{
        padding-top: 1em;
    }
    .things__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .things__item img{
        width: 40%;
        padding-bottom: 0;
    }
    .things__item__heading{
        width: 45%;
        text-align: initial;
    }
    .things__item__heading p{
        width: 500px;
        margin: 0;
    }
    .things__item:nth-child(odd) img{
        order: 2;
        width: 40%;
        padding-bottom: 0;
    }
    .things__item__heading:nth-child(odd){
        order: 1;
        width: 45%;
        text-align: initial;
    }
    .things__dec:nth-child(2){
        position: absolute;
        top: initial;
        left: initial;
        bottom: 0%;
        right: -25%;
    }
}

/* works */
#works{
    padding-top: 10rem;
    position: relative;
    overflow-x: hidden;
}
#works h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--gray);
    margin-bottom: 2rem;
}
.works__dec{
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translateX(-50%);
}
.works__dec:nth-child(2){
    top: initial;  
    left: initial; 
    bottom: 15%; 
    right: 0;
    transform: translateX(50%);
    z-index: -1;
}
.works__img-single:nth-child(odd){
    padding-top: 5em;
}

/* .works__img-single{
    margin: 2em 0;
} */

@media (min-width:62em) {
    #works h2{
        margin-bottom: 3em;
    }
    .works__img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .works__img-single{
        margin: 0 5em;
        width: 35%;
    }
    .works__img-single:nth-child(3){
        margin-top: 0;
    }
}

/* footer */
footer{
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
}
.footer__dec{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-40%);
    z-index: -1;
}
.footer__img{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(25%);
    z-index: -1;
}
.footer__heading{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color: var(--gray);
}
.footer__contact{
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}
.footer__contact a{
    color: var(--gray);
    font-size: 1.1rem;
}

@media (min-width: 62em) {
    footer{
        padding-top: 5em;
    }
    .footer__img{
        top: -10%;
        right: 0;
        width: 60%;
        transform: translateX(90%);
    }
    .footer__contact{
        display: flex;
        justify-content: space-between;
    }
    .footer__heading h1{
        font-size: 2.2rem;
    }
}